* {
    box-sizing: border-box !important;
}
:root {
    --stock-color: #18ffff;
}

.row {
    margin-bottom: 0;
}

#box {
    margin-bottom: 0px;
}

#widget1, #widget2 {
    border-radius: 10px;
    border: 5px solid #18ffff;
    margin-bottom: 7px;
    transition: all 0.5s ease-in-out;

}

#widget2 {
    border-radius: 10px;
    border: 5px solid #76ff03;
    margin-bottom: 7px;
}

.nav-wrapper .input-field input[type=search] {
    padding-left: 2.7rem;
    width: calc(100% - 5.5rem);
}

main {
    min-height: 100vh;
}

body{
    max-width: 100vw;
}

header {
    padding: 0 1.5rem;
}

@media only screen and (min-width: 601px) {
    aside {
        height: 100vh;
    }    
}
.custom-margin {
    margin: 1rem !important;
}

form div, form div input, .custom-box {
    border-radius: 10px !important;
}

.material-icons {
    font-size: 25px !important;
}

.custom-shadow:hover {
    box-shadow: inset 0px 0px 8px var(--stock-color), 0 0 15px var(--stock-color);
    transition: all 1s ease-in-out;
}