.row {
	margin-bottom: 0;
}

:root {
	--crypto-color: #76ff03;
	--stock-color: #18ffff;
}

#searchBox {
	border-radius: 10px;
	margin: 1rem 0;
	height: 36px;
}

#modalButton,
#modal1 {
	border-radius: 10px;
	margin-bottom: 1rem;
}

.card-stock {
	border-radius: 10px;
	border: 5px solid var(--stock-color);
	margin-bottom: 7px;
	transition: all 0.5s ease-in-out;
}

.card-crypto {
	border-radius: 10px;
	border: 5px solid var(--crypto-color);
	margin-bottom: 7px;
	transition: all 0.5s ease-in-out;
}

main {
	min-height: 100vh;
}

#search,
.input-field {
	border-bottom: 0px solid white !important;
	height: 36px;
	margin: 0;
	text-transform: uppercase;
}

@media only screen and (min-width: 601px) {
	aside {
		height: 100vh;
	}
}
.custom-margin {
	margin: 1rem !important;
}

form div,
form div input,
.custom-box {
	border-radius: 10px !important;
}

.material-icons {
	font-size: 25px !important;
}

.hidden {
	display: none;
}

.custom-shadow-stocks:hover {
	box-shadow: inset 0px 0px 8px var(--stock-color), 0 0 15px var(--stock-color);
	transition: all 1s ease-in-out;
}
.custom-shadow-crypto:hover {
	box-shadow: inset 0px 0px 8px var(--crypto-color),
		0 0 15px var(--crypto-color);
	transition: all 1s ease-in-out;
}
.custom-font {
	font-size: 2rem;
	padding-left: 1rem;
}
h2 {
	font-size: 56px;
}

.popularStockTitle {
	border-bottom: 2px solid var(--stock-color);
	margin: 10px 13em;
	padding: 10px;
}
.popularCryptoTitle {
	border-bottom: 2px solid var(--crypto-color);
	margin: 10px 13em;
	padding: 10px;
}
@media only screen and (max-width: 1441px) {
	.popularStockTitle {
		margin: 10px 9em;
	}
	.popularCryptoTitle {
		margin: 10px 9em;
	}
}
@media only screen and (max-width: 1025px) {
	.popularStockTitle {
		margin: 10px 5em;
	}
	.popularCryptoTitle {
		margin: 10px 5em;
	}
}
@media only screen and (max-width: 769px) {
	.popularStockTitle {
		margin: 10px 3em;
	}
	.popularCryptoTitle {
		margin: 10px 3em;
	}
}
@media only screen and (max-width: 426px) {
	.popularStockTitle {
		margin: 10px -1em;
	}
	.popularCryptoTitle {
		margin: 10px -1em;
	}
	h2 {
		font-size: 42px;
	}
}

.custom-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

a {
	color: inherit;
}